.app {
  padding: 2.4rem 8rem 2.4rem 2.4rem;

  &__header {
    width: 100%;
    text-align: center;
  }

  &__heading_title {
    font-size: 2rem;
    color: white;
    font-weight: normal;
    font-family: sans-serif;
    text-transform: uppercase;
    display: inline-block;
    transform: translateX(-1.5rem);
    letter-spacing: 0.15rem;
    margin-top: 5rem;
  }

  &__body {
    padding: 5.6rem;
    @media (max-width: 800px) {
      padding: 1.6rem;
    }
  }

  &__search {
    display: flex;
    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
}
